<header class="header">
  <div class="container">
    <div class="header__inner">
      <div class="header__logo">
        <img src="img/logo_white.png" alt="" />
      </div>
      <div class="header__burger">
        <span></span>
      </div>
      <nav class="header__nav">
        <ul class="header__list">
          <li><a class="header__link" href="#">Features</a></li>
          <li><a class="header__link" href="#">Offer</a></li>
          <li><a class="header__link" href="#">Pricing</a></li>
          <li><a class="header__link" href="#">Clients</a></li>
          <li><a class="header__link" href="#">Facts</a></li>
          <li><a class="header__link" href="#">Projects</a></li>
          <li><a class="header__link" href="#">Team</a></li>
          <li><a class="header__link" href="#">Customers</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
