@import "vars";
@import "fonts";
@import "global";
//-----------------------------------------------------------------------------------------------------------
//
//                                                    START CODE
//
//-----------------------------------------------------------------------------------------------------------
//Header =====================================================================================================
.header {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  // .header__inner

  &__inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    height: 100px;
  }

  // .header__list

  &__list {
    display: flex;

    li {
      margin-right: 15px;
      &:last-child {
        margin-right: 0;
      }
    }
  }

  // .header__link

  &__link {
    display: inline-block;
    color: white;
    font-size: 12px;
    letter-spacing: 1px;
    text-shadow: 1px 1px 20px rgba(0, 0, 0, 0.8);
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      text-decoration: underline;
    }
  }

  .header__burger {
    display: none;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 1000;
    width: 20px;
    height: 16px;
    &::before,
    &::after {
      content: "";
      width: 100%;
      height: 2px;
      position: absolute;
      background-color: white;
      transition: all 0.3s;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    span {
      position: absolute;
      display: inline-block;
      top: 7px;
      width: 100%;
      height: 2px;
      background-color: white;
      transition: all 0.3s;
    }
  }

  .header__burger.active {
    &::before {
      top: 7px;
      transform: rotate(-45deg);
    }
    &::after {
      bottom: 7px;
      transform: rotate(45deg);
    }
    span {
      opacity: 0;
      visibility: hidden;
    }
  }
}

//Fullscreen ===============================================================================================
.fullscreen {
  // .fullscreen__bg

  &__bg {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-attachment: fixed;
  }

  // .fullscreen__mask

  &__mask {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  // .fullscreen__content

  &__content {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 130px 20px 30px;
    width: 100%;
    min-height: 100vh;
  }

  // .fullscreen__title

  &__title {
    max-width: 600px;
    margin: 0 auto;
    color: #fff;
    font-size: 60px;
    line-height: 67px;
    font-weight: 600;
    text-transform: uppercase;
    text-shadow: 1px 1px 30px rgba(0, 0, 0, 0.3);
    margin-bottom: 30px;
  }

  // .fullscreen__text

  &__text {
    p {
      max-width: 700px;
      margin: 0 auto;
      font-size: 18px;
      line-height: 23px;
      color: #fff;
      text-shadow: 1px 1px 30px rgba(0, 0, 0, 0.3);
    }
  }

  // .fullscreen__button

  &__button {
    margin: 30px 0 50px;
    flex: 1 1 auto;
    a {
      display: inline-block;
      border-radius: 5px;
      min-height: 40px;
      padding: 0 20px;
      line-height: 40px;
      font-size: 14px;
      transition: all 0.4s;
    }
  }

  // .fullscreen__message

  &__message {
    background: #4ace6f;
    color: #fff;
    margin-right: 20px;
    &:hover {
      background: #3fb05e;
      color: #fff;
    }
  }

  // .fullscreen__subscribe

  &__subscribe {
    color: #fff;
    border: 1px solid #fff;
    background: none;
    &:hover {
      background: #fff;
      color: #444;
    }
  }

  // .fullscreen__down

  &__down {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    width: 40px;
    height: 40px;
    border: 2px solid white;
    border-radius: 50%;
    animation: down 1.5s linear infinite;
    &::before {
      content: "\f107";
      font-family: "icomoon";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      font-size: 23px;
    }
  }
  @keyframes down {
    0% {
      bottom: 50px;
    }
    50% {
      bottom: 30px;
    }
    100% {
      bottom: 50px;
    }
  }
}

//Features =====================================================================================================
.features {
  padding: 70px 0;

  // .features__header

  &__header {
  }

  // .features__title

  &__title {
  }

  // .features__subtitle

  &__subtitle {
  }

  // .features__body

  &__body {
    display: flex;
    flex: 1 1 25%;
    margin: 0 -15px;
  }

  // .features__column

  &__column {
    padding: 0 15px;
  }

  // .features__item

  &__item {
  }
}

.item {
  // .item__features

  &__features {
    text-align: center;
  }

  // .item__features-img

  &__features-img {
    position: relative;
    width: 180px;
    height: 180px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 50%;
    font-size: 85px;
    line-height: 180px;
    color: #5c6d7f;
    box-shadow: none;
    background: #fff;
    transition: box-shadow 0.5s, border 0.5s, text-shadow 0.5s;
    text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.4);
    &:hover {
      border: 1px solid #fff;
      box-shadow: 10px 10px 10px #ccc;
      text-shadow: none;
    }
    &::before {
      content: "";
      font-family: "icomoon";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &.feature-thumbs::before {
      content: "\f087";
    }
    &.feature-line-chart::before {
      content: "\f201";
    }
    &.feature-bar-chart::before {
      content: "\f080";
    }
    &.feature-clock::before {
      content: "\f017";
    }
  }

  // .item__features-title

  &__features-title {
    font-size: 21px;
    color: #333;
    margin: 25px 0 15px;
  }

  // .item__features-text

  &__features-text {
    line-height: 21px;
    font-size: 15px;
    font-family: arial, sans-serif;
    color: #777;
  }
}
//Aplications =====================================================================================================
.aplications {
  background: #f0f0f0;
  // .aplications__first

  &__first {
    display: flex;
    flex-wrap: wrap;
  }

  // .aplications__info

  &__info {
    flex: 1 1 50%;
    padding: 50px 100px;
  }

  // .aplications__title

  &__title {
    font-size: 42px;
    margin-bottom: 40px;
  }

  // .aplications__subtitle

  &__subtitle {
    p{
      font-size: 17px;
      font-family: "Open Sans";
      font-weight: 400;

    }
  }

  // .aplications__img

  &__img {
    flex: 1 1 50%;
  }

  // .aplications__second

  &__second {
    display: flex;
  }
}

//-----------------------------------------------------------------------------------------------------------
//
//                                                    END CODE
//
//-----------------------------------------------------------------------------------------------------------

@import "media";
