@import "vars";
@import "fonts";
@import "global";
//-----------------------------------------------------------------------------------------------------------
//
//                                                    START CODE
//
//-----------------------------------------------------------------------------------------------------------
//Header =====================================================================================================
.header {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  transition: all 0.5s;

  // .header__inner

  &__inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    height: 100px;
  }

  // .header__list

  &__list {
    display: flex;

    li {
      margin-right: 15px;
      &:last-child {
        margin-right: 0;
      }
    }
  }

  // .header__link

  &__link {
    display: inline-block;
    color: white;
    font-size: 12px;
    letter-spacing: 1px;
    text-shadow: 1px 1px 20px rgba(0, 0, 0, 0.8);
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      text-decoration: underline;
    }
  }

  .header__burger {
    display: none;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 1000;
    width: 20px;
    height: 16px;
    &::before,
    &::after {
      content: "";
      width: 100%;
      height: 2px;
      position: absolute;
      background-color: white;
      transition: all 0.3s;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    span {
      position: absolute;
      display: inline-block;
      top: 7px;
      width: 100%;
      height: 2px;
      background-color: white;
      transition: all 0.3s;
    }
  }

  .header__burger.active {
    &::before {
      top: 7px;
      transform: rotate(-45deg);
    }
    &::after {
      bottom: 7px;
      transform: rotate(45deg);
    }
    span {
      opacity: 0;
      visibility: hidden;
    }
  }
}
.header.fixed {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10;
  background: #5c6d7f;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.3);
  transition: all 0.5s;
  .header__inner {
    height: 70px;
  }
}

//Fullscreen ===============================================================================================
.fullscreen {
  // .fullscreen__bg

  &__bg {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-attachment: fixed;
  }

  // .fullscreen__mask

  &__mask {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  // .fullscreen__content

  &__content {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 130px 20px 30px;
    width: 100%;
    min-height: 100vh;
  }

  // .fullscreen__title

  &__title {
    max-width: 600px;
    margin: 0 auto;
    color: #fff;
    font-size: 60px;
    line-height: 67px;
    font-weight: 600;
    text-transform: uppercase;
    text-shadow: 1px 1px 30px rgba(0, 0, 0, 0.3);
    margin-bottom: 30px;
  }

  // .fullscreen__text

  &__text {
    p {
      max-width: 700px;
      margin: 0 auto;
      font-size: 18px;
      line-height: 23px;
      color: #fff;
      text-shadow: 1px 1px 30px rgba(0, 0, 0, 0.3);
    }
  }

  // .fullscreen__button

  &__button {
    margin: 30px 0 50px;
    flex: 1 1 auto;
    a {
      display: inline-block;
      border-radius: 5px;
      min-height: 40px;
      padding: 0 20px;
      line-height: 40px;
      font-size: 14px;
      transition: all 0.4s;
    }
  }

  // .fullscreen__message

  &__message {
    background: #4ace6f;
    color: #fff;
    margin-right: 20px;
    &:hover {
      background: #3fb05e;
      color: #fff;
    }
  }

  // .fullscreen__subscribe

  &__subscribe {
    color: #fff;
    border: 1px solid #fff;
    background: none;
    &:hover {
      background: #fff;
      color: #444;
    }
  }

  // .fullscreen__down

  &__down {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    width: 40px;
    height: 40px;
    border: 2px solid white;
    border-radius: 50%;
    animation: down 1.5s linear infinite;
    &::before {
      content: "\f107";
      font-family: "icomoon";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      font-size: 23px;
    }
  }
  @keyframes down {
    0% {
      bottom: 100px;
    }
    50% {
      bottom: 80px;
    }
    100% {
      bottom: 100px;
    }
  }
}

//Features =====================================================================================================
.features {
  padding: 70px 0;

  // .features__body

  &__body {
    display: flex;
    flex: 1 1 25%;
    margin: 0 -15px;
  }

  // .features__column

  &__column {
    padding: 0 15px;
  }
}

.item {
  // .item__features

  &__features {
    text-align: center;
  }

  // .item__features-img

  &__features-img {
    position: relative;
    width: 180px;
    height: 180px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 50%;
    font-size: 85px;
    line-height: 180px;
    color: #5c6d7f;
    box-shadow: none;
    background: #fff;
    transition: box-shadow 0.5s, border 0.5s, text-shadow 0.5s;
    text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.4);
    &:hover {
      border: 1px solid #fff;
      box-shadow: 10px 10px 10px #ccc;
      text-shadow: none;
    }
    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  // .item__features-title

  &__features-title {
    font-size: 21px;
    color: #333;
    margin: 25px 0 15px;
  }

  // .item__features-text

  &__features-text {
    line-height: 21px;
    font-size: 15px;
    font-family: arial, sans-serif;
    color: #777;
  }
}
//Aplications =====================================================================================================
.aplications {
  background: #f0f0f0;
  // .aplications__first

  &__first {
    display: flex;
    flex-wrap: wrap;
  }

  // .aplications__info

  &__info {
    flex: 1 1 50%;
    padding: 100px;
  }

  // .aplications__title

  &__title {
    font-size: 42px;
    margin-bottom: 40px;
  }

  // .aplications__subtitle

  &__subtitle {
    p {
      font-size: 17px;
      font-family: "Open Sans";
      font-weight: 400;
    }
  }

  // .aplications__img

  &__img {
    flex: 1 1 50%;
  }

  // .aplications__second

  &__second {
    display: flex;
  }
}

//Offer =====================================================================================================
.offer {
  // .offer__bg

  &__bg {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background-attachment: fixed;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
    }
  }

  // .offer__content

  &__content {
    max-width: 1200px;
    width: 100%;
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    padding: 50px 30px;
  }

  // .offer__body

  &__body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -25px;
  }

  // .offer__column

  &__column {
    flex: 1 1 33.333%;
    padding: 0 25px;
  }
}

.item {
  // .item__offer

  &__offer {
    text-align: center;
    margin-bottom: 30px;
  }

  // .item__offer-img

  &__offer-img {
    position: relative;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin: 0 auto;
    transition: all 0.3s;
    margin-bottom: 15px;
    &:hover {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    }
    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 50px;
      color: #fff;
    }
  }

  // .item__offer-title

  &__offer-title {
    color: white;
    margin-bottom: 15px;
  }

  // .item__offer-text

  &__offer-text {
    p {
      color: #ddd;
    }
  }
}
//Pricing =====================================================================================================
.pricing {
  padding: 100px 0 50px;

  // .pricing__body

  &__body {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -17px;
  }

  // .pricing__column

  &__column {
    flex: 1 1 25%;
    padding: 0 17px;
  }

  // .pricing__item

  &__item {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: box-shadow 0.3s;
    text-align: center;
    margin-bottom: 30px;
    overflow: hidden;
    &:hover {
      box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.25);
    }
  }

  // .pricing__best

  .pricing-best {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
  }

  .pricing__item.pricing-best:hover {
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.25);
  }

  // .pricing__header

  &__header {
    position: relative;
    padding: 20px 0;
    background: #5c6d7f;
    overflow: hidden;
    h4 {
      color: white;
    }
    p {
      font-size: 40px;
      font-weight: 600;
      color: #fff;
      line-height: 45px;
    }
    .best-price {
      position: absolute;
      top: 22px;
      right: -28px;
      background: #f00;
      color: #fff;
      padding: 0px 25px;
      font-size: 15px;
      border-radius: 5px 0 0 5px;
      transform: rotate(45deg);
    }
  }

  // .pricing__text

  &__text {
    position: relative;
    padding: 20px 0;
    color: #777;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      top: auto;
      width: 40%;
      height: 1px;
      margin: auto;
      background: rgba(0, 0, 0, 0.1);
    }
  }

  // .pricing__link

  &__link {
    display: inline-block;
    min-height: 48px;
    padding: 0 25px;
    line-height: 48px;
    font-size: 18px;
    border-radius: 5px;
    width: 80%;
    margin: 25px 0;
    background: #5c6d7f;
    color: #fff;
    transition: all 0.3s;
    cursor: pointer;
  }
}

//Subscribe =====================================================================================================
.subscribe {
  // .subscribe__bg

  &__bg {
    min-height: 600px;
    background-attachment: fixed;
    top: 0;
    left: 0;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7);
    }
  }

  // .subscribe__content

  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 0 20px;
  }

  // .subscribe__header

  &__header {
    margin-bottom: 60px;
  }

  // .subscribe__form

  &__form {
    position: relative;
    max-width: 535px;
    margin: 0 auto;
    input {
      width: 100%;
      background: rgba(255, 255, 255, 0.15);
      max-width: 100%;
      padding: 12px 156px 12px 14px;
      border: 0;
      height: 45px;
      font-size: 14px;
      color: white;
      &::placeholder {
        color: rgba(255, 255, 255, 0.5);
      }
    }
    button {
      position: absolute;
      top: 0;
      right: 0;
      width: 142px;
      height: 100%;
      color: #fff;
      background-color: #51bd55;
      border: none;
      transition: all 0.3s;
      cursor: pointer;
      &::after {
        content: "\f1d8";
        font-family: "icomoon";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 100%;
        height: 20px;
        text-align: center;
        line-height: 20px;
        font-size: 18px;
        color: #fff;
        opacity: 0;
      }
      &:hover {
        background-color: #4caf50;
        font-size: 0;
      }
      &:hover::after {
        opacity: 1;
        transition: all 0.3s;
      }
    }
  }
}

//Clients =====================================================================================================
.clients {
  padding: 120px 0;

  // .clients__body

  &__body {
    position: relative;
  }
  .slick-list {
    overflow: hidden;
    text-align: center;
  }
  .slick-track {
    display: flex;
  }

  .slick-arrow {
    position: absolute;
    z-index: 2;
    top: 33%;
    font-size: 0;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
    transition: all 0.15s;
    cursor: pointer;
    &:hover {
      background: #fafafa;
    }
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      color: #121212;
      line-height: 48px;
      font-size: 30px;
      font-family: "icomoon";
    }
  }

  .slick-prev {
    left: -35px;
    &::before {
      content: "\f104";
    }
  }

  .slick-next {
    right: -35px;
    &::before {
      content: "\f105";
      left: 55%;
    }
  }
}

//About =====================================================================================================
.about {
  // .about__bg

  &__bg {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background-attachment: fixed;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
    }
  }

  // .container
  .container {
    padding: 150px 35px 120px;
    position: relative;
    z-index: 2;
  }
  // .about__body

  &__body {
    display: flex;
    justify-content: space-between;

    flex-wrap: wrap;
  }

  // .about__column

  &__column {
    flex: 1 1 25%;
  }

  // .about__item

  &__item {
    color: white;
    text-align: center;
    margin-bottom: 30px;
  }

  // .about__count

  &__count {
    font-size: 85px;
    text-shadow: 1px 1px #777;
  }

  // .about__text

  &__text {
    margin-top: 5px;
    font-size: 20px;
    text-transform: capitalize;
    text-shadow: 1px 1px #000;
  }
}
//Gallery =====================================================================================================
.gallery {
  padding-top: 100px;

  // .gallery__body

  &__body {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -2px;
  }

  // .gallery__column

  &__column {
    flex: 1 1 25%;
    padding: 0 2px;
  }

  // .gallery__item

  &__item {
    position: relative;
    padding-bottom: 4px;
  }

  // .gallery__img

  &__img {
    padding-bottom: 70%;
    &:hover .gallery__content {
      opacity: 1;
      visibility: visible;
    }
  }

  // .gallery__content

  &__content {
    position: absolute;
    padding: 0 30px;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    transition: all 1s;
    opacity: 0;
    visibility: hidden;
  }

  // .gallery__content-title

  &__content-title {
    font-size: 20px;
    color: white;
    margin-bottom: 15px;
  }

  // .gallery__text

  &__text {
    font-size: 14px;
  }
}

.fancybox-button {
  background: transparent;
  color: transparent;
  &:hover {
    color: transparent;
  }
}

.fancybox-navigation .fancybox-button {
  opacity: 1;
  visibility: visible;
  font-family: "icomoon";
  font-size: 60px;
}

.fancybox-navigation .fancybox-button--arrow_right {
  right: 8%;
  &::before {
    content: "\f105";
    color: rgba($color: white, $alpha: 0.5);
  }
}
.fancybox-navigation .fancybox-button--arrow_left {
  left: 8%;
  &::before {
    content: "\f104";
    color: rgba($color: white, $alpha: 0.5);
  }
}

.fancybox-close-small {
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.25) 0 0 20px 2px;
  right: -15px;
  top: -16px;
  opacity: 1;
  color: black;
  &:hover {
    color: black;
  }
}
//Team =====================================================================================================
.team {
  background-color: #fafafa;
  border-top: 1px solid #f0f0f0;
  padding: 70px 0 30px;
  // .team__body

  &__body {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  // .team__item

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
    flex: 1 1 25%;
  }

  // .team__img

  &__img {
    width: 230px;
    height: 230px;
    border-radius: 50%;
  }

  // .team__info

  &__info {
    margin-top: 25px;
    flex: 1 1 auto;
  }

  // .team__info-title

  &__info-title {
    color: #333;
    font-size: 20px;
    margin-bottom: 5px;
  }

  // .team__info-position

  &__info-position {
    margin-bottom: 15px;
  }

  // .team__info-text

  &__info-text {
    color: #999;
    font-size: 14px;
    max-width: 220px;
    margin: 0 auto;
    margin-bottom: 15px;
  }

  // .team__link

  &__link {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 45px;
    border: 2px solid #f0f0f0;
    background-color: #fff;
    border-radius: 50%;
    transition: all 0.3s;
    &:hover::before {
      color: white;
    }
    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 16px;
      color: #333;
      transition: all 0.3s;
    }
  }
  .icon-facebook:hover {
    background: #3b5998;
    border: 2px solid #3b5998;
  }
  .icon-twitter:hover {
    background: #55acee;
    border: 2px solid #55acee;
  }
  .icon-vk:hover {
    background: #5080b8;
    border: 2px solid #5080b8;
  }
  .icon-linkedin:hover {
    background: #0077b5;
    border: 2px solid #0077b5;
  }

  .icon-instagram:hover {
    background: #44749c;
    border: 2px solid #44749c;
  }
  .icon-youtube:hover {
    background: #e52d27;
    border: 2px solid #e52d27;
  }
  .icon-skype:hover {
    background: #00aff1;
    border: 2px solid #00aff1;
  }
}
//Video =====================================================================================================
.video {
  // .video__bg

  &__bg {
    top: 0;
    left: 0;
    background-attachment: fixed;
  }
  .container {
    padding: 140px 0 160px;
  }

  // .video__link

  &__link {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 80px;
    height: 80px;
    background: #5c6d7f;
    border: 5px solid #5c6d7f;
    border-radius: 50%;
    box-shadow: 1px 1px 30px #ccc;
    transition: all 0.3s;
    cursor: pointer;
    &::before {
      position: absolute;
      top: 50%;
      left: 55%;
      transform: translate(-50%, -50%);
      color: white;
      font-size: 25px;
    }
    &:hover {
      background: transparent;
    }
  }
}
.fancybox-navigation .fancybox-button {
  opacity: 0;
}
//Reviews =====================================================================================================
.reviews {
  padding: 100px 0 70px;
  background-color: #f5f5f5;
  &:hover .slick-arrow {
    opacity: 1;
    visibility: visible;
  }
  &:hover .slick-prev {
    left: 15%;
  }
  &:hover .slick-next {
    right: 15%;
  }
}

.slider {
  // .slider__reviews

  &__reviews {
    position: relative;
    .slick-list {
      overflow: hidden;
    }
    .slick-track {
      display: flex;
    }
    .slick-arrow {
      border: none;
      border-radius: 50%;
      font-size: 0;
      position: relative;
      bottom: 15%;
      width: 50px;
      height: 50px;
      background: #fff;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
      transition: all 0.5s;
      opacity: 0;
      visibility: hidden;
      z-index: 5;
      cursor: pointer;
      &::before {
        content: "";
        font-family: "icomoon";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 30px;
        color: #121212;
      }
    }
    .slick-prev,
    .slick-next {
      position: absolute;
    }

    .slick-prev {
      left: -5%;
      &::before {
        content: "\f104";
      }
    }
    .slick-next {
      right: -5%;
      &::before {
        content: "\f105";
      }
    }
  }

  // .slider__item

  &__item {
    text-align: center;
  }

  // .slider__text

  &__text {
    position: relative;
    max-width: 67%;
    padding: 20px;
    margin: 0 40px 40px;
    color: #777;
    font-size: 16px;
    background: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 6px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 40px;
    &::after {
      content: "";
      width: 0;
      height: 0;
      position: absolute;
      left: 0;
      right: 0;
      bottom: -15px;
      margin: auto;
      border-left: 18px solid transparent;
      border-right: 18px solid transparent;
      border-top: 21px solid #fff;
    }
  }

  // .slider__img

  &__img {
    width: 67px;
    height: 67px;
    border-radius: 50%;
    margin: 0 auto;
  }

  // .slider__title

  &__title {
    margin: 5px 0;
    color: #555;
    font-size: 18px;
  }

  // .slider__position

  &__position {
    color: #94a3a8;
    font-size: 14px;
  }
}
//Promo =====================================================================================================
.promo {
  // .promo__bg

  &__bg {
    top: 0;
    left: 0;
    background-attachment: fixed;
    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
    }
  }
  .container {
    position: relative;
    z-index: 2;
    padding: 180px 0;
  }

  // .promo__link

  &__link {
    display: block;
    text-align: center;
    color: #fff;
    background-color: #4caf50;
    border-radius: 5px;
    width: 22%;
    height: 48px;
    padding: 0 25px;
    line-height: 48px;
    font-size: 18px;
    margin: 0 auto;
    cursor: pointer;
  }
}

//Contact =====================================================================================================
.contact {
  // .contact__bg

  &__bg {
    top: 0;
    left: 0;
    background-attachment: fixed;
    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
    }
  }

  .container {
    position: relative;
    z-index: 2;
    padding: 100px 20px;
  }
  // .contact__inner

  &__inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  // .contact__form

  &__form {
    max-width: 565px;
    margin: 0 auto;
    input,
    textarea {
      max-width: 100%;
      width: 100%;
      padding: 12px 14px;
      border: 0;
      background: rgba(255, 255, 255, 0.15);
      color: white;
      line-height: 1;
      resize: none;
      outline: none;
      transition: all 0.3s;
      &:focus {
        background: rgba(255, 255, 255, 0.25);
      }
      &::placeholder {
        color: rgba(255, 255, 255, 0.5);
      }
    }
    textarea {
      min-height: 100px;
    }
    button {
      position: relative;
      width: 100%;
      height: 45px;
      color: #fff;
      background-color: #51bd55;
      border: none;
      transition: all 0.3s;
      margin-top: 10px;
      cursor: pointer;
      &::after {
        content: "\f1d8";
        font-family: "icomoon";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 100%;
        height: 20px;
        text-align: center;
        line-height: 20px;
        font-size: 18px;
        color: #fff;
        opacity: 0;
      }
      &:hover {
        background-color: #4caf50;
        font-size: 0;
      }
      &:hover::after {
        opacity: 1;
        transition: all 0.3s;
      }
    }
  }
}

.form {
  // .form__name

  &__name {
    margin-right: 10px;
  }

}
//Adrress =====================================================================================================
.adrress {
  padding: 150px 0 100px;
  // .adrress__body

  &__body {
    display: flex;
    justify-content: space-around;
  }

  // .adrress__item

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    text-align: center;
  }

  // .adrress__img

  &__img {
    position: relative;
    cursor: pointer;
    &::before {
      color: #5c6d7f;
      font-size: 70px;
      transition: text-shadow 0.5s;
      text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.4);
      transition: all 0.3s;
    }
    &:hover::before {
      text-shadow: none;
    }
  }

  // .adrress__info-title

  &__info-title {
    font-size: 20px;
    color: black;
    margin: 25px 0 15px;
  }

  // .adrress__info-contact

  &__info-contact {
    span {
      display: block;
    }
  }

  // .adrress__info-link

  &__info-link {
    font-size: 16px;
    color: black;
    display: block;
  }
}

//Map =====================================================================================================
.map .jstcache {
  display: none;
}
.gm-inset {
  display: none;
}
//Footer =====================================================================================================
.footer {
  text-align: center;
  padding: 100px 0;
  span {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 45px;
    border: 2px solid #f0f0f0;
    border-radius: 50%;
    transition: all 0.3s;
    margin-right: 5px;
    cursor: pointer;
    &:hover::before {
      color: white;
    }
    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 16px;
      color: #333;
      transition: all 0.3s;
    }
  }
  .icon-facebook:hover {
    background: #3b5998;
    border: 2px solid #3b5998;
  }
  .icon-twitter:hover {
    background: #55acee;
    border: 2px solid #55acee;
  }
  .icon-youtube:hover {
    background: #e52d27;
    border: 2px solid #e52d27;
  }
  .icon-skype:hover {
    background: #00aff1;
    border: 2px solid #00aff1;
  }
  .icon-instagram:hover {
    background: #44749c;
    border: 2px solid #44749c;
  }
  .icon-paper-plane:hover {
    background: #34abe3;
    border: 2px solid #34abe3;
  }
  .icon-linkedin:hover {
    background: #0077b5;
    border: 2px solid #0077b5;
  }
  .copyright {
    margin-top: 15px;
    font-size: 17px;
  }
}
//Scroll-top =====================================================================================================
.scroll__up {
  position: fixed;
  right: 20px;
  bottom: 40px;
  width: 0;
  height: 0;
  border-radius: 100%;
  box-shadow: 0 1px 10px 0 rgba(255, 255, 255, 0.15);
  background: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  z-index: -3;
  transition: all 0.5s;
  width: 50px;
  height: 50px;
  bottom: 20px;
  z-index: 3;
  opacity: 0;
  visibility: hidden;
  &:hover {
    background: rgba(0, 0, 0, 0.9);
  }
  &::before {
    content: "\f106";
    font-family: "icomoon";
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: #fff;
  }
}
.scroll__up.show {
  opacity: 1;
  visibility: visible;
}
//-----------------------------------------------------------------------------------------------------------
//
//                                                    END CODE
//
//-----------------------------------------------------------------------------------------------------------

@import "media";
